.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* custom css */
.activeBtnBg{
  background-color: #495057; 
}
.hoverBtn:hover{
  color: #17a2b8 !important; /* Color on hover */
}
/* input:focus  {
  outline: none !important;
  border: none !important;
} */
.form-control:focus{
  color: unset !important;
  background-color: unset !important;
  border-color: unset !important;
  outline: 0; 
  box-shadow: none !important
}
.btn-link{
  color: #17a2b8 !important; /* Color on hover */
  text-decoration: none !important;
}

.customBtn{
  background-color: black !important;
  color: white !important;
}
.customBtn:hover{
  color: #17a2b8 !important; /* Color on hover */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}